*{
    margin: 0;
    padding: 0;
}



/*------------------------------
    Hero section style---------*/

.hero-section{
    width: 100%;
    height: 70vh;
    
    
}

.first-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.services-section{
    background-color: #F1F5F6;
}